.keisei-box {
  /* background-color: #ac277e; */
  width: 66px;
  height: 66px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 17px #1b6cb4;
}


.keisei-txt {
  color: #221815;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}