.jr-box {
  background-color: #238e3e;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jr-txt {
  color: #e4ede5;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
}